# **NumPy**

## Phân tích và hiển thị dữ liệu

In [2]:
v = list(range(1, 6))
print(v)
print(2 * v)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [3]:
import numpy as np
v = np.arange(1, 6)
print(v)
print(2 * v)

[1 2 3 4 5]
[ 2  4  6  8 10]

In [4]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [6]:
x = [60, 70, 80, 90]
print('len(x)=')
print('x[0]=', x[0])
print('x[1]=', x[1])
print('x[-1]=', x[-1])
print('x[1:3]=', x[1:3])

len(x)=
x[0]= 60
x[1]= 70
x[-1]= 90
x[1:3]= [70, 80]

In [8]:
from IPython.display import display
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = a * b
display('c', c)

'c'

array([ 4, 10, 18])

In [9]:
import numpy as np

a = np.zeros((2,2))
display(a)

b = np.ones((1,2))
display(b)

c = np.full((2,2), 7)
display(c)

d = np.eye(2)
display(d)

e = np.random.random((2,2))
display(e)

array([[0., 0.],
       [0., 0.]])

array([[1., 1.]])

array([[7, 7],
       [7, 7]])

array([[1., 0.],
       [0., 1.]])

array([[0.04776293, 0.81070923],
       [0.98656641, 0.70119701]])

In [2]:
import numpy as np
a = np.arange(15)
display(a)

a = a.reshape(3, 5)
display(a)

display(a.shape)
display(a.ndim)
display(a.dtype.name)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

(3, 5)

2

'int64'

In [3]:
import numpy as np
a = np.array([1,2,3,4,5])
display(a)

array([1, 2, 3, 4, 5])

In [4]:
a = np.array([
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15],
    [16,17,18,19,20]
])
display(a)
display(a.shape)
display(a.ndim)
display(a.dtype.name)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

(4, 5)

2

'int64'

In [6]:
a = np.array([
    [0, 1, 2, 3], 
    [10, 11, 12, 13], 
    [20, 21, 22, 23]
])
display(a)
display(a.shape)
display(a.ndim)
display(a.dtype.name)

array([[ 0,  1,  2,  3],
       [10, 11, 12, 13],
       [20, 21, 22, 23]])

(3, 4)

2

'int64'

In [9]:
a = np.arange(1, 10).reshape(3,3)
display(a)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [11]:
display(a[2])
display(a[2].shape)

display(a[2, :])
display(a[2, :].shape)

display(a[2:, :])
display(a[2:, :].shape)

array([7, 8, 9])

(3,)

array([7, 8, 9])

(3,)

array([[7, 8, 9]])

(1, 3)

### Pandas

In [3]:
import pandas as pd
a = pd.DataFrame(
    {
        'a': [4,5,6],
        'b': [7,8,9],
        'c': [10,11,12]
    })
display(a)

b = pd.DataFrame([
    {"a":4, "b":7, "c":10},
    {"a":5, "b":8, "c":11},
    {"a":6, "b":9, "c":12},
    ])
display(b)

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

In [4]:
display(type(a))

pandas.core.frame.DataFrame

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

s = pd.Series([1,3,5,np.nan,6,8])
display(s)

dates = pd.date_range('20181001', periods=6)
display(dates)